<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="active"><a href="/"><i class="la la-dashboard"></i> <span>Dashboard</span></a></li>
				<li class="submenu">
					<a href="javascript:void(0)" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)">All Employees</a></li>
						<li><a href="javascript:void(0)">Holidays</a></li>
						<li><a href="javascript:void(0)">Leave Requests <span class="badge bg-primary pull-right">1</span></a></li>
						<li><a href="javascript:void(0)">Attendance</a></li>
						<li><a href="javascript:void(0)">Departments</a></li>
						<li><a href="javascript:void(0)">Designations</a></li>
					</ul>
				</li>
				<li><a href="javascript:void(0)"><i class="la la-users"></i> <span>Clients</span></a></li>
				<li><a href="/projects"><i class="la la-rocket"></i> <span>Projects</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-tasks"></i> <span>Tasks</span></a></li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="la la-phone"></i> <span> Calls</span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)">Voice Call</a></li>
						<li><a href="javascript:void(0)">Video Call</a></li>
						<li><a href="javascript:void(0)">Incoming Call</a></li>
					</ul>
				</li>
				<li><a href="javascript:void(0)"><i class="la la-book"></i> <span>Contacts</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-user-secret"></i> <span>Leads</span></a></li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)">Estimates</a></li>
						<li><a href="javascript:void(0)">Invoices</a></li>
						<li><a href="javascript:void(0)">Payments</a></li>
						<li><a href="javascript:void(0)">Expenses</a></li>
						<li><a href="javascript:void(0)">Provident Fund</a></li>
						<li><a href="javascript:void(0)">Taxes</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)"> Employee Salary </a></li>
						<li><a href="javascript:void(0)"> Payslip </a></li>
					</ul>
				</li>
				<li><a href="javascript:void(0)"><i class="la la-clock-o"></i> <span>Timing Sheet</span></a></li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="la la-building"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)"> Manage Jobs </a></li>
						<li><a href="javascript:void(0)"> Applied Candidates </a></li>
					</ul>
				</li>
				<li><a href="javascript:void(0)"><i class="la la-ticket"></i> <span>Tickets</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-calendar"></i> <span>Events</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-at"></i> <span>Email</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-comments"></i> <span>Chat</span> <span class="badge bg-primary pull-right">5</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-object-ungroup"></i> <span>Assets</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-bell"></i> <span>Activities</span></a></li>
				<li><a href="javascript:void(0)"><i class="la la-user-plus"></i> <span>Users</span></a></li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)"> Expense Report </a></li>
						<li><a href="javascript:void(0)"> Invoice Report </a></li>
					</ul>
				</li>
				<li><a href="javascript:void(0)"><i class="la la-cog"></i> <span>Settings</span></a></li>
				<li class="submenu">
					<a href="javascript:void(0)"><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li><a href="javascript:void(0)"> Login </a></li>
						<li><a href="javascript:void(0)"> Register </a></li>
						<li><a href="javascript:void(0)"> Forgot Password </a></li>
						<li><a href="javascript:void(0)"> Profile </a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
					<ul style="display:none;">
						<li class="submenu">
							<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
							<ul style="display:none;">
								<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
								<li class="submenu">
									<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
									<ul style="display: none;">
										<li><a href="javascript:void(0);">Level 3</a></li>
										<li><a href="javascript:void(0);">Level 3</a></li>
									</ul>
								</li>
								<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
							</ul>
						</li>
						<li><a href="javascript:void(0);"> <span>Level 1</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>